
.bg {
  position: absolute;
  width: 100%;
  opacity: 1;
}
.navbar-brand {
  font-size: 1rem;
}
h1 {
  color: #FFF2F2;
  font-size: 9vw;
  font-family: 'Lobster', cursive;
  text-align: center;
  position: absolute;
  padding-top: 100px;
}
p {
  color: #FFF2F2;
    font-size: 2vw;
font-family: 'Varela Round', sans-serif;
    text-align: center;
    position: absolute;
    padding-top: 260px;
}
.column {
  padding-left: 20px;
}

.searchTerm {
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.wrap{
  width: 35%;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.container {
  padding-top: 750px;
  padding-bottom: 100px;
}
.caption {
  background-color: black;
  color: white;
  font-size: 1vw;
  font-style: italic;
  padding: 2px;
  text-align: center;
  text-decoration: none;
}
