
.bg {
  position: absolute;
  width: 100%;
  opacity: 1;
}
.navbar-brand {
  font-size: 1rem;
}
h1 {
  color: white;
  font-size: 10vw;
  font-family: 'Lobster', cursive;
  text-align: center;
position: absolute;
margin-top: 3%;
margin-left: 3%;

}
h4 {
  color: #FFF2F2;
    font-size: 2vw;
font-family: 'Varela Round', sans-serif;
    text-align: center;
    position: absolute;
margin-top: 17%;
margin-left: 3%;
}
.searchbar {
  width: 35%;
  position: absolute;
margin-top: 25%;
margin-left: 5%;
}
.column {
  padding-left: 20px;
}
.container {
 margin-top: 55%;
 margin-bottom: 55%

}
.card {
  border-radius: 10px;
  outline: 1px solid;
  box-shadow: 1px 1px 4px;
  cursor: pointer;
  background-color: #1e2b3e;
  margin-top: 20%;
}
.card:hover {
  transform: scale(1.1);
}
.card-title {
  font-size: 2vw;
  text-align: center;
color: white;
}

@media (max-width:1000px) {
  h1 {
    text-align: center;
    margin-top: 8%;
  }
  h4 {
    text-align: center;
    margin-top: 25%;
  }
  .searchbar {
    margin-top: 35%;
  }

}
